/*------------------------------------------------------------
- Banner
------------------------------------------------------------*/

/*------ Home Banner ------*/

.banner-wrapper {
    padding-top: 145px;
    .row {
        justify-content: space-between;
        align-items: center;
        .order {
            order: 2;
        }
        figure {
            &.img-sec {
                margin-bottom: 0px;
                padding-right: 20px;
            }
        }
        .content-sec {
            text-align: center;
            h2 {
                margin-bottom: 30px;
                font-family: $sans-serif;
                font-weight: $font-weight-regular;
                color: #2c3e50;
                strong {
                    display: block;
                }
                @include breakpoint(xx-large) {
                    .container {
                        max-width: 1240px;
                    }
                }
            }
            cite {
                display: block;
                font-size: em(26);
                color: #2c3e50;
                margin-bottom: 40px;
            }
        }
    }
}

/*----- Inner Banner -----*/

.inner-banner-wrapper {
    @include bg-cover(contain, right);
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(x-large) {
        height: 400px;
    }
    .content-sec {
        width: 550px;
        text-align: center;
        h2 {
            color: #2c3e50;
            margin-bottom: 20px;
        }
        p {
            font-size: 35px;
            color: #2c3e50;
            line-height: 1.3em;
            font-weight: $font-weight-light;
            @include breakpoint(x-large) {
                font-size: 30px;
            }
        }
    }
}