/*---------------------------------------------------------------
- Footer
---------------------------------------------------------------*/

.footer-wrapper {
    background: #ececec;
    padding: 30px 0px;
    .social-share {
        text-align: center;
        margin-bottom: 30px;
        li {
            height: 33px;
            width: 33px;
            border-radius: 4px;
            background: $color-white;
            position: relative;
            margin: 0 2px;
            transition: all 0.3s ease-in-out 0s;
            a {
                font-size: 18px;
                color: $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            &:hover {
                background: $color-primary;
                a {
                    color: $color-white;
                }
            }
        }
    }
    .footer-nav {
        text-align: center;
        margin: 0 auto 20px;
        li {
            margin: 0 15px;
            display: inline-block;
            vertical-align: middle;
            list-style: none;
            @include breakpoint(mobile) {
                margin: 0 8px;
            }
            a {
                color: $color-black;
                font-size: em(16);
                font-weight: $font-weight-bold;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
    .copyright-sec {
        text-align: center;
        ul {
            margin-bottom: 0px;
        }
        li {
            display: inline-block;
            list-style: none;
            margin: 0 10px;
            vertical-align: middle;
            span {
                font-size: em(14);
                color: #6b6b6b;
                a {
                    color: $color-brand;
                    &:hover {
                        color: $color-black;
                    }
                }
            }
            &:first-child {
                &:after {
                    content: "";
                    height: 15px;
                    width: 1px;
                    background: #6b6b6b;
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: -3px;
                    margin-right: -8px;
                    margin-left: 10px;

                }
            }
        }
    }
}