/*------------------------------------------------------------
- Forms
------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="file"],
.form-control {
    padding: 2px 20px;
    width: 100%;
    border-radius: 8px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    font-family: $sans-serif;
    font-weight: $font-weight-light;
    color: #000000;
    font-size: em(16);
    background: $color-white;
    border: none;
    border: 1px solid #c3c3c3;
}

textarea,
textarea.form-control {
    padding: 15px 20px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"], 
input[type="file"] {
    height: 60px;
    @include breakpoint(x-large) {
        height: 50px;
    }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: $color-primary;
}

.form-control::-webkit-input-placeholder { 
    color:#ababab;
}
.form-control::-moz-placeholder { 
    color:#ababab;
}
.form-control:-ms-input-placeholder { 
    color:#ababab;
}
input:-moz-placeholder { 
    color:#ababab;
}

select,
select.form-control {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: 1px solid #c5c5c5;
    height: 49px;
    outline: medium none;
    padding: 0px 20px;
    text-indent: 1px;
    text-transform: none;
    width: 100%;
    background: white url("../images/select-arrow.png") no-repeat scroll right;
    color: #000000;
    font-family: $sans-serif;
    font-weight: $font-weight-regular;
    font-size: em(16);
}

select::-ms-expand {
    display: none;
}

label {
    font-size: em(16);
    color: $color-black;
    font-family: $sans-serif;
    font-weight: $font-weight-bold;
    text-transform: capitalize;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    appearance: checkbox !important;
    border-radius: 0;
}