/*------------------------------------------------------------
- Header
------------------------------------------------------------*/

.header {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0px;
        @include breakpoint(x-large) { 
            padding: 10px 0px;
        }
        .nav {
            li {
                margin: 0 15px;
                a {
                    font-size: em(16);
                    color: $color-secondary;
                    font-family: $sans-serif;
                    font-weight: $font-weight-regular;
                    padding: 0px;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
        .login-wrap {
            ul {
                margin-bottom: 0px;
                li {
                    list-style: none;
                    display: inline-block;
                    font-size: em(16);
                    color: $color-secondary;
                    a {
                        font-size: em(16);
                        color: $color-secondary;
                        background: transparent;
                        border-radius: 4px;
                        line-height: 2em;
                        padding: 0 10px;
                        display: inline-block;
                        font-family: $sans-serif;
                        font-weight: $font-weight-regular;
                        &:hover {
                            background: $color-primary;
                            color: $color-white;
                            text-decoration: none;
                        }
                    }
                    &:first-child {
                        a {
                            background: $color-primary;
                            color: $color-white;
                            border: 1px solid $color-primary;
                            &:hover {
                                box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.2);
                                transform: translateY(-2px);
                            }
                        }
                    }
                }
            }
        }
        
        .navbar-nav {
            > li {
                &.current-menu-item,
                &.current-menu-parent {
                    > a {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

/*----- Sticky Header -----*/

.fixed-header {
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-name: fadeInDown;
    animation-timing-function: linear;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    background: $color-white;
}