/*----------------------------------------------
- Popups Css
----------------------------------------------*/

/*----- Modal Form ------*/

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
    }
    .popup-inner {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        max-width: 425px;
        width: 90%;
        background: #fff;
    }
    .popup-inner-elem {
        position: relative;
        .title {
            background: $color-primary;
            padding: 20px;
            h3 {
                color: $color-white;
                font-weight: $font-weight-light;
                text-transform: capitalize;
                margin-bottom: 0px;
            }
        }
        .content {
            padding: 20px 35px;
            position: relative;
            &:after {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: $color-white;
                border-width: 5px;
                margin-left: -5px;
            }
        }
        .already-account {
            span,
            a  {
                color: $color-black;
                font-size: em(15);
                font-weight: $font-weight-light;
                margin-left: 5px;
            }
            a {
                color: $color-primary;
                &:hover {
                    color: $color-black;
                }
            }
        }
        .radio-sec {
            margin-bottom: 6px;
            display: flex;
            justify-content: space-around;
            .title {
                text-align: left;
                font-size: 12px;
                margin-top: 3px;
                color: #474a5d;
                font-family: $sans-serif;
                font-weight: $font-weight-regular;
                margin-bottom: 0px;
                text-transform: uppercase;
            }
            .list {
                li {
                    list-style: none;
                    margin-right: 50px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
            .radio {
                margin-right: 20px;
                margin-bottom: 0px;
                display: inline-block;
                label {
                    margin-bottom: 0px;
                }
            }
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 22px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                font-family: $sans-serif;
                vertical-align: bottom;
                font-size: em(20); 
                font-weight: $font-weight-regular;
                color: $color-grey;
            }
            [type="radio"]:checked + label {
                color: $color-primary;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                width: 11px;
                height: 11px;
                border: 2px solid $color-primary;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:not(:checked) + label:before {
                border-color: #b2b2b2;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 5px;
                height: 5px;
                background: $color-primary;
                position: absolute;
                top: 7px;
                left: 3px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
        p {
            color: #a1a1a1;
            text-align: left;
            line-height: normal;
        }
        .popup-close {
            position: absolute;
            right: -12px;
            top: -12px;
            padding: 0;
            min-width: auto;
            background: #494949;
            border: 2px solid transparent;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            opacity: 1;
            z-index: 99;
            svg {
                height: 13px;
                width: 13px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                z-index: 99;
                text-align: center;
                fill: $color-white;
                margin: 0 auto;
            }
            &:hover {
                background: $color-primary;
                transform: rotate(180deg);
                border-color: $color-white;
            }
        }
        form {
            .button-sec {
                padding: 10px 0px;
                text-align: center;
                display: block;
                button {
                    min-width: 150px;
                    line-height: 2.6em;
                    font-size: em(18);
                    text-transform: capitalize;
                    margin-left: inherit;
                    margin-right: inherit;
                }
            }
        }
        .forgot-password {
            display: block;
            text-align: right;
            margin: -8px 0px 15px;
            a {
                font-size: 14px;
                color: #a1a1a1; 
                letter-spacing: 0.01em;
                display: inline-block;
                &:hover {
                    color: $color-primary;
                    border-color: $color-primary;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }
        .social-share {
            padding: 0 8%;
            span {
                color: $color-grey;
                font-size: em(16);
                margin-bottom: 15px;
                display: block;
            }
            ul {
                border: 1px solid $color-primary;
                border-radius: 8px;
                li {
                    list-style: none;
                    display: inline-block;
                    border-right: 1px solid $color-primary;
                    width: 49%;
                    &:last-child {
                        border: none;
                    }
                    a {
                        color: $color-primary;
                        font-size: em(25);
                        display: block;
                        line-height: 2em;
                        text-align: center;
                    }
                    &:hover {
                        a {
                            color: $color-black;
                        }
                    }
                }
            }
        }
    }
}
.signup {
    .listing-wrap {
        li {
            &:last-child {
                &:before {
                    content: "";
                    height: 15px;
                    width: 2px;
                    background: #979aa1;
                    display: inline-block;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}