/*------------------------------------------------------------
- Sidebar
------------------------------------------------------------*/

/*----- Expert profile Sidebar ------*/

.expert-profile-wrap {
    .sidebar-sec {
        .link-sec-wrap {
            margin-bottom: 30px;
            li {
                a {
                    display: inline-block;
                    font-size: em(16);
                    color: $color-white;
                    background: $color-primary;
                    border-radius: 4px;
                    line-height: 3em;
                    display: block;
                    max-width: 203px;
                    text-align: center;
                    margin: 0 auto;
                    text-transform: capitalize;
                    &:hover {
                        background: #e9e9e9;
                        color: $color-black;
                    }
                }
                margin: 0 auto 10px;
                &:last-child {
                    margin-bottom: 0px;
                    a {
                        background: #e9e9e9;
                        color: $color-black;
                        &:hover {
                            background: $color-primary;
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .user-info {
            border: 1px solid #e1e1e1;
            background: #fafafa;
            padding: 30px 50px;
            figure {
                margin: 0 auto 20px;
                display: block;
                text-align: center;
            }
            h4 {
                margin-bottom: 3px;
                color: #010101;
                font-weight: $font-weight-regular;
            }
            cite {
                color: $color-primary;
                font-weight: $font-weight-light;
                margin-bottom: 5px;
                display: block;
            }
            .location-detail {
                border-bottom: 1px solid #e1e1e1;
                margin-bottom: 15px;
                li {
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    span,
                    address {
                        color: $color-grey;
                        font-weight: $font-weight-regular;
                        margin-bottom: 0px;
                    }
                }
            }
            .language-sec {
                li {
                    position: relative;
                    padding-left: 22px;
                    color: $color-grey;
                    font-weight: $font-weight-regular;
                    margin-bottom: 10px;
                    figure {
                        margin-bottom: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    address {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

/*------- BloG Sidebar ------*/

.sidebar-sec {
    .widget {
        margin-bottom: 2.5em;
        ul {
            list-style: none;
        }
        .widget-title {
            text-transform: capitalize;
            font-family: $sans-serif;
            color: $color-black;
            font-weight: $font-weight-regular;
            margin-bottom: 30px;
        }
    }
    .widget_search {
        form {
            .form-group {
                margin-bottom: 0;
            }
            #s {
                border-color: #e6e6e6;
                border-radius: 8px;
                box-shadow: none;
                margin-bottom: 0;
                padding: 10px 50px 10px 15px;
            }
            #searchsubmit {
                position: absolute;
                right: 20px;
                top: 0;
                bottom: 0;
                font-family: FontAwesome;
                background: none;
                border: none;
                font-size: 16px;
                color: #e6e6e6;
                transition: all 0.3s ease-in-out 0s;
                min-width: auto;
                padding: 0px;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
    .widget_popularpost {
        .recent-post-grid {
            position: relative;
            margin-bottom: 50px;
            padding-left: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e6e6e6;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0px;
                padding-bottom: 0px;
                height: auto;
            }
            figure {
                margin-bottom: 0px;
            }
            .featured-thumb {
                width: 80px;
                height: 80px;
                @include bg-cover(cover,center center);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 100%;
            }
            .content-sec {
                .meta-info {
                    margin-bottom: 0px;
                    span {
                        font-size: em(16);
                        font-family: $sans-serif;
                        color: $color-grey;
                        font-weight: $font-weight-light;
                    }
                }
                h5 {
                    a {
                        color: $color-black;
                        line-height: 1.5;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
    .widget_categories {
        .cat-item {
            margin-bottom: 13px;
            padding-bottom: 13px;
            border-bottom: 1px solid #e6e6e6;
            a {
                display: block;
                text-transform: capitalize;
                letter-spacing: 0px;
                font-size: em(16);
                color: $color-grey;
                &:hover {
                    color: $color-primary;
                }
            }
            &:last-child {
                border: none;
            }
        }
    }
}