/*----------------------------------------------
- Custom Css
----------------------------------------------*/

@include breakpoint(xx-large) {
    .container {
        max-width: 1270px;
    }
}

.section {
    padding: 90px 0px;
    .sec-title {
        text-align: center;  
        margin-bottom: 60px;
        h3 {
            color: $color-black;
            margin-bottom: 0px;
            line-height: 1.3em;
        }
    }
    @include breakpoint(x-large) {
        padding: 60px 0px;
    }
}

/*----- Slick Arrow ------*/

.slick-slide {
    outline: none;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
	cursor: pointer;
    border: 2px solid #d0d0d0;
    height: 32px;
    width: 32px;    
    display: inline-block;
    border-radius: 100%;
	i {
		color: #d0d0d0;
        font-size: 18px;
        position: relative;
        font-family: FontAwesome;
        text-align: center;
        transition: all 0.3s ease-in-out 0s;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
	}
    &:hover {
        border-color: $color-primary;
        i {
            color: $color-primary;
        }
    }
	&.slick-prev {
		left: -42px;
	}
	&.slick-next {
		right: -42px;
	}
}

/*------ Pagination ------*/

.pagination-wrap {
    text-align: center;
    .pagination-sec {
        max-width: 350px;
        margin: 0 auto;
        position: relative;
    }
    ul {
        background: $color-white;
        display: block;
        padding: 10px;
        position: relative;
        box-shadow: 0px 2px 8px rgba(31, 189, 189, 0.2);
        li {
            list-style: none;
            display: inline-block;
            margin: 0 5px;
            vertical-align: middle;
            transition: inherit;
            &.item {
                height: 25px;
                width: 25px;
                background: transparent;
                border-radius: 100%;
                padding: 0;
                line-height: 1.65em;
                transition: all 0.3s ease-in-out 0s;
                &.active,
                &:hover {
                    background: $color-primary;
                    a {
                        color: $color-white;
                    }
                }
            }
            &.prev,
            &.next {
                svg {
                    height: 20px;
                    width: 20px;
                    fill: #cbcbcb;
                    transition: all 0.3s ease-in-out 0s;
                    display: inline-block;
                    vertical-align: middle;
                    &:hover {
                        fill: $color-primary;
                    }
                }
            }
            a {
                font-size: em(14);
                color: #686868;
                font-family: $sans-serif;
                font-weight: $font-weight-regular;
                display: block;
                vertical-align: middle;
                text-align: center;
                margin: 0 auto;
            }
            &:hover {
                a {
                    color: $color-primary;
                }
            }
        }
    }
}

/*----- Blockquote Section -----*/

blockquote {
    background: #f9f9f9;
    font-size: em(20);
    color: $color-black;
    text-align: center;
    padding: 30px;
    font-family: $sans-serif;
    font-weight: $font-weight-regular;
    border-left: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
}