/*------------------------------------------------------------
- Blog
------------------------------------------------------------*/

/*----- Blog Page -----*/

.blog-grid-wrap {
    padding: 20px 0px;
}
.meta-info-sec {
    ul {
        margin-bottom: 7px;
    }
    li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
        a {
            color: $color-primary;
            font-size: em(16);
            font-weight: $font-weight-light;
            &:hover {
                color: $color-black;
            }
        }
        &:first-child {
            &:after {
                height: 13px;
                width: 1px;
                background: $color-primary;
                display: inline-block;
                content: "";
                margin-left: 10px;
            }
        }
    }
}
.blog-item {
    margin-bottom: 40px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
    figure {
        margin-bottom: 0px;
        a {
            height: 320px;
            @include bg-cover(cover, center);
            display: block;
            border-radius: 10px 10px 0px 0px;
        }
    }
    &:hover {
        transform: translateY(-6px);
    }
    .content {
        padding: 20px 25px;
        h5 {
            margin-bottom: 7px;
            a {
                color: $color-black;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .read-more {
            display: inline-block;
            font-size: em(16);
            color: $color-grey;
            text-transform: capitalize;
            margin-top: 15px;
            &:hover {
                color: $color-primary;
            }
        }
    }
}

/*----- Blog Single Page -----*/

.blog-single-wrap {
    .blog-sec {
        margin-bottom: 60px;
        h5 {
            &.title-sec {
                font-size: em(20);
                color: $color-black;
                margin-bottom: 20px;
                font-weight: $font-weight-regular;
            }
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .blog-content {
        .blog-item-sec {
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            figure {
                height: 350px;
                @include bg-cover(cover, center);
                border-radius: 10px 10px 0px 0px;
                margin-bottom: 0px;
            }
            .content-sec {
                padding: 30px 40px;
                .content {
                    margin-bottom: 20px;
                    padding-bottom: 40px;
                    border-bottom: 1px solid $color-lightest;
                    h5 {
                        color: $color-black;
                    }
                    blockquote {
                        margin: 30px 0px;
                    }
                }
            }
            .author-info {
                .special-sec {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 60px;
                    span {
                        color: $color-grey;
                        font-size: em(16);
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 3px;
                        &:nth-child(2) {
                            font-weight: $font-weight-light;
                        }
                    }
                    ul {
                        display: inline-block;
                        vertical-align: middle;
                        margin-bottom: 0px;
                        li {
                            list-style: none;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 13px;
                            a {
                                color: $color-grey;
                                &:hover {
                                    color: $color-primary;
                                }
                            }
                        } 
                    }
                }
                .author-detail {
                    position: relative;
                    padding-left: 170px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 50px;
                    figure {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        height: 150px;
                        width: 150px;
                        margin-bottom: 0px;
                        img {
                            border-radius: 100%;
                        }
                    }
                    .author-content {
                        cite {
                            color: $color-primary;
                            display: block;
                            margin-bottom: 5px;
                        }
                        h5 {
                            margin-bottom: 8px;
                            color: $color-black;
                        }
                    }
                }
            }
        }
        .related-product-wrap  {
            &.blog-sec {
                margin-bottom: 30px;
            }
        }
        .comment-wrap {
            .comment-sec {
                box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
                padding: 40px;
                article {
                    position: relative;
                    padding-left: 160px;
                    figure {
                        position: absolute;
                        top: 0;
                        left: 0;
                        img {
                            border-radius: 100%;
                        }
                    }
                    border-bottom: 1px solid $color-lightest;
                    margin-bottom: 30px;
                    padding-bottom: 30px;
                    &:last-child {
                        border: none;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    h5 {
                        color: $color-black;
                        font-weight: $font-weight-regular;
                        margin-bottom: 0;
                    }
                    cite {
                        font-size: em(16);
                        color: $color-grey;
                        font-weight: $font-weight-light;
                        margin-bottom: 8px;
                        display: block;
                    }
                    a {
                        font-size: em(16);
                        color: $color-grey;
                        font-weight: $font-weight-regular;
                        display: inline-block;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
        .leave-form-wrap {
            .leave-form-sec {
                box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
                padding: 40px;
                form {
                    .form-group {
                        margin-bottom: 20px;
                        .form-control {
                            background: #f1f1f1;
                            border-color: #f1f1f1;
                            &:focus {
                                border-color: $color-primary;
                            }
                        }
                    }
                }
            }
        }
    }
}