/*------------------------------------------------------------
- Contact Us
------------------------------------------------------------*/

.contactus-wrap {
    .contact-form-wrap {
        .row {
            padding: 0 10%;
        }
        .sec-title {
            margin-bottom: 15px;
        }
        .contact-detail {
            margin-top: 80px;
            .row {
                padding: 0px;
            }
            .contact-info {
                margin-bottom: 50px;
                .top-content {
                    position: relative;
                    padding-left: 85px;
                    margin-bottom: 30px;
                    figure {
                        margin-bottom: 0px;
                        position: absolute;
                        left: 0;
                        top: -13px;
                        background: $color-white;
                        height: 55px;
                        width: 60px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        box-shadow: 0px 0px 9px rgba(31, 189, 189, 0.4);
                        svg {
                            width: 25px;
                            height: 25px;
                            fill: $color-primary;
                        }
                        &:before {
                            content: "";
                            background: $color-primary;
                            width: 10px;
                            height: 55px;
                            display: inline-block;
                            border-radius: 5px 0 0 5px;
                            position: absolute;
                            left: -8px;
                        }
                    }
                    h5 {
                        margin-bottom: 0px;
                        display: inline-block;
                        vertical-align: middle;
                        color: $color-black;
                        &:after {
                            content: "";
                            background: $color-primary;
                            width: 45px;
                            height: 1px;
                            display: block;
                            margin-top: 10px;
                        }
                    }
                }
                a {
                    display: block;
                    color: $color-grey;
                    font-size: em(16);
                    &:hover {
                        color: $color-primary;
                    }
                }
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 15px;
                    }
                }
            }
        }
        .contact-form {
            .button-wrap {
                text-align: right;
                display: block;
                button {
                    padding: 0 30px;
                }
            }
        }
    }
    .map-sec {
        height: 393px;
        margin-bottom: 5px;
        iframe {
            height: 100%;
            width: 100%;
        }
    }
}