/*------------------------------------------------------------
- Expert Profile
------------------------------------------------------------*/

.expert-profile-wrap {
    padding: 0 15%;
    .expert-profile-sec {
        border-top: 2px solid #ebebeb;
        padding-top: 40px;
    }
    ul {
        li {
            list-style: none;
        }
    }
    .content-sec {
        article {
            margin-bottom: 35px;
        }
        .content-block {
            h3,
            h5 {
                color: $color-black;
                border-bottom: 1px solid #ebebeb;
                padding-bottom: 15px;
                margin-bottom: 15px;
            }
            h5 {
                font-weight: $font-weight-regular;
            }
            &.expert-skill {
                ul {
                    li {
                        display: inline-block;
                        margin: 0px 15px 15px 0px;
                        a {
                            display: inline-block;
                            font-size: em(12);
                            color: $color-grey;
                            background: #e9e9e9;
                            padding: 0px 20px;
                            line-height: 2.8em;
                            &:hover {
                                background: $color-primary;
                                color: $color-white;
                            }
                        }
                    }
                }
            }
            &.portfolio {
                margin-bottom: 20px;
                h5 {
                    margin-bottom: 20px;
                }
                .row {
                    padding-right: 8%;
                }
                .grid-item {
                    margin-bottom: 30px;
                    transition: all 0.5s ease-in-out 0s;
                    &:hover {
                        figure {
                            box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.2);
                        }
                    }
                    h6 {
                        color: $color-black;
                        font-weight: $font-weight-regular;
                        font-size: em(15);
                    }
                }
            }
            &.Work-experience,
            &.education {
                li {
                    margin-bottom: 15px;
                    position: relative;
                    padding-left: 15px;
                    &:before {
                        content: "\f111";
                        font-family: FontAwesome;
                        color: $color-primary;
                        font-size: 10px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    h6,
                    cite {
                        margin-bottom: 5px;
                        color: $color-grey;
                    }
                    h6 {
                        font-weight: $font-weight-regular;
                    }
                    cite {
                        font-weight: $font-weight-light;
                    }
                }
            }
            &.experience {
                li {
                    display: inline-block;
                    min-width: 33%;
                    margin-bottom: 10px;
                    color: $color-grey;
                    font-weight: $font-weight-regular;
                }
            }
        }
    }
}