/*------------------------------------------------------------
- Find Experts
------------------------------------------------------------*/

.find-expert-wrap {
    margin-bottom: 50px;
    .search-expert {
        background: #f9f9f9;
        padding: 30px;
        box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.2%);
        margin-bottom: 35px;
        .sec-title {
            margin-bottom: 20px;
            h3 {
                color: $color-black;
                font-weight: $font-weight-regular;
            }
        }
        form {
            width: 900px;
            margin-right: 20px;
            @include breakpoint(x-large) {
                width: 780px;
            }
            .form-group {
                position: relative;
                margin-bottom: 0px;
                .search {
                    border-color: #c5c5c5;
                    border-radius: 0px;
                    height: 49px;
                    padding: 2px 70px 2px 20px;
                }
                .searchsubmit {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    font-family: FontAwesome;
                    border: none;
                    font-size: 18px;
                    color: $color-white;
                    transition: all 0.3s ease-in-out 0s;
                    min-width: auto;
                    padding: 0px;
                    background: #c3c3c3;
                    width: 55px;
                    border-radius: 0px;
                    &:hover {
                        background: $color-primary;
                    }
                }
            }
        }
        .search-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            .filter {
                margin-right: 20px;
            }
            .filter,
            .view {
                height: 49px;
                background: $color-white;
                box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.2%);
                display: inline-block;
                padding: 0 20px;
                vertical-align: middle;
                line-height: 3em;
                @include breakpoint(x-large) {
                   line-height: 3.3em;
                }
                img {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }
        .search-history {
            form {
                display: flex;
                justify-content: space-between;
                .form-group {
                    width: 290px;
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
                .search,
                select {
                    height: 40px;
                }
                .searchsubmit {
                    font-size: 16px;
                    width: 50px;
                }
                .radio-sec {
                    display: flex;
                    justify-content: space-between;
                    .list {
                        margin-bottom: 0px;
                        li {
                            list-style: none;
                            margin-bottom: 10px;
                        }
                    }
                    .radio {
                        label {
                            margin-bottom: 0px;
                        }
                    }
                    [type="radio"]:checked,
                    [type="radio"]:not(:checked) {
                        position: absolute;
                        left: -9999px;
                    }
                    [type="radio"]:checked + label,
                    [type="radio"]:not(:checked) + label
                    {
                        position: relative;
                        padding-left: 23px;
                        cursor: pointer;
                        line-height: 20px;
                        display: inline-block;
                        font-family: $sans-serif;
                        vertical-align: bottom;
                        font-size: em(16);
                        font-weight: $font-weight-regular;
                        color: $color-black;
                        text-transform: inherit;
                    }
                    [type="radio"]:checked + label:before,
                    [type="radio"]:not(:checked) + label:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 5px;
                        width: 10px;
                        height: 10px;
                        border: 1px solid #c3c3c3;
                        border-radius: 100%;
                        background: #fff;
                    }
                    [type="radio"]:checked + label:after,
                    [type="radio"]:not(:checked) + label:after {
                        content: '';
                        width: 10px;
                        height: 10px;
                        background: $color-primary;
                        position: absolute;
                        top: 5px;
                        left: 0px;
                        border-radius: 100%;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }
                    [type="radio"]:not(:checked) + label:after {
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                    }
                    [type="radio"]:checked + label:after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .expert-wrap {
        background: $color-white;
        .expert-sec {
            box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.2%);
            margin-bottom: 50px;
        }
    }
}