/*------------------------------------------------------------
- Home Page
------------------------------------------------------------*/

/*----- Client Logo Section -----*/

.client-logo-wrap {
    .client-logo-slider {
        @include bg-cover(cover, center);
        padding: 30px 50px;
        box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.2);
        figure {
            margin-bottom: 0px;
            text-align: center;
            float: inherit;
            display: inline-block;
            vertical-align: middle;
            img {
                display: inline-block;
            }
        }
    }
}

/*----- How Connect You ------*/

.how-connect-wrap {
    .row {
        .grid-item {
            text-align: center;
            padding: 0 10%;
            transition: all 0.3s ease-in-our 0s;
            .img-sec {
                border: 1px solid $color-lightest;
                border-radius: 100%;
                display: inline-block;
                height: 100px;
                width: 100px;
                position: relative;
                margin-bottom: 15px;
                figure {
                    background: $color-lightest;
                    border-radius: 100%;
                    display: inline-block;
                    height: 90px;
                    width: 90px;
                    margin-bottom: 0px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    margin: 0 auto;
                    img {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        text-align: center;
                        margin: 0 auto;
                    }
                }
            }
            h5 {
                color: $color-black;
                margin-bottom: 0px;
                line-height: 1.5em;
            }
            &:hover {
                .img-sec {
                    box-shadow: 0px 0px 30px rgba(31, 189, 189, 0.8);
                    transition: all 0.3s ease-in-out 0.3s;
                }
            }
        }
        > div {
            &:nth-child(2) {
                border-left: 1px solid $color-lightest;
                border-right: 1px solid $color-lightest;
            }
        }
    }
}

/*----- Expert Section ------*/

.expert-wrap {
    background: $color-darkest;
    .expert-sec {
        background: $color-white;
        padding: 50px;
        margin-bottom: 40px;
        article {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #dddddd;
            margin-bottom: 30px;
            padding-bottom: 30px;
            &:last-child {
                border: none;
                padding: 0;
                margin: 0;
            }
            .content-sec {
                width: calc(100% - 180px);
                padding-right: 10%;
                position: relative;
                .title-sec {
                    position: relative;
                    padding-left: 100px;
                    margin-bottom: 25px;
                    figure {
                        margin-bottom: 0px;
                        top: 0;
                        left: 0;
                        position: absolute;
                    }
                    h5 {
                        a {
                            font-weight: $font-weight-bold;
                            margin-bottom: 3px;
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                    cite {
                        display: block;
                        color: $color-primary;
                        font-weight: $font-weight-regular;
                        margin-bottom: 5px;
                    }
                    ul {
                        margin-bottom: 0px;
                        li {
                            list-style: none;
                            display: inline-block;
                            color: $color-grey;
                            vertical-align: middle;
                            margin: 0 8px;
                            &:first-child {
                                margin-left: 0px;
                                &:after {
                                    content: "";
                                    height: 13px;
                                    width: 2px;
                                    background: #6b6b6b;
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-top: -3px;
                                    margin-right: -8px;
                                    margin-left: 10px;

                                }
                            }
                        }
                    }
                }
                p {
                    margin-bottom: 30px;
                }
                .meta-info {
                    li {
                        list-style: none;
                        display: inline-block;
                        margin: 0 5px;
                        font-size: em(12);
                        color: $color-grey;
                        background: #f1f6f8;
                        padding: 1px 15px;
                        vertical-align: middle;
                        border-radius: 2px;
                        &:first-child {
                            margin-left: 0px;
                        }
                    }
                }
                &:after {
                    content: "";
                    height: 175px;
                    width: 1px;
                    background: $color-lightest;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .view-profile {
                width: 180px;
                padding-left: 4%;
                a {
                    line-height: 2.2em;
                    margin-bottom: 20px;
                    display: block;
                }
                ul {
                    li {
                        list-style: none;
                        position: relative;
                        padding-left: 20px;
                        color: $color-grey;
                        figure {
                            margin-bottom: 0px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    .view-wrap {
        text-align: center;
    }
}

/*----- Particular Section -----*/

.particular-wrap {
    .particular-slider {
        margin-bottom: 50px;
        .grid-item {
            text-align: center;
            float: inherit;
            display: inline-block;
            vertical-align: middle;
            figure {
                display: inline-block;
                margin-bottom: 20px;
            }
            h5 {
                a {
                    color: $color-black;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
    .more-link-wrap {
        text-align: center;
        a {
            line-height: 3em;
        }
    }
}

/*----- Testimonial Section -----*/

.testimonial-element-wrap {
    background: $color-darkest;
    .title-section {
        margin-bottom: 60px;
        @include breakpoint(ipad) {
            margin-bottom: 40px;
        }
    }
    .testimonial-grid {
        position: relative;
        border: 1px solid $color-lightest;
        padding: 40px;
        margin: 25px 1px;
        z-index: 999;
        transition: all 0.5s ease-in-out 0s;
        min-height: 242px;
        figure {
            position: absolute;
            left: 25px;
            top: 46px;
            height: 70px;
            width: 70px;
            margin-bottom: 0px;
            img {
                border-radius: 100%;
            }
        }
        .content {
            padding-left: 75px;
            p {
                margin-bottom: 0px;
            }
        }
        span.blq {
            display: inline-block;
            position: absolute;
            top: -22px;
            margin-top: 0;
            z-index: -1;
            left: 15%;
            svg {
                height: 40px;
                width: 40px;
                fill: #d9d9d9;
            }
        }
        &:hover {
            span.blq {
                svg {
                    fill: $color-primary;
                }
            }
        }
        .ceo-founder {
            position: absolute;
            left: 0;
            right: 40px;
            bottom: -9px;
            text-align: right;
            span {
                font-size: em(15);
                color: $color-primary;
                background: $color-darkest;
                padding: 0 20px;
                letter-spacing: 1px;
                cite {
                    color: #959595;
                    padding: 0px;
                    margin-left: 5px;
                }
            }
        }
    }
    .owl-nav {
        position: absolute;
        top: -50px;
        right: 0;
        @include breakpoint(normal) {
            top: -28px;
        }
        button {
            min-width: 0px;
            transition: all 0.3s ease-in-out 0s;
            &:first-child {
                margin-right: 8px;
            }
            i {
                color: #d0d0d0;
                border: 2px solid #d0d0d0;
                height: 30px;
                width: 30px;    
                display: inline-block;
                border-radius: 100%;
                font-size: 18px;
                line-height: 22px;
                position: relative;
                font-family: FontAwesome;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            &:hover,
            &:active {
                i {
                    color: $color-primary;
                    border-color: $color-primary;
                }
            }
        }
    }
}

/*----- Signup Free Section -----*/

.signup-free-wrap {
    padding: 50px 0px;
    text-align: center;
    .signup-wrap {
        border: 7px solid #ededed;
        padding: 5px;
        .signup-sec {
            border: 2px solid #ededed;
            @include bg-cover(cover, center);
            padding: 50px;
            h3 {
                color: $color-black;
                font-weight: $font-weight-regular;
                margin-bottom: 35px;
                line-height: 1.5em;
            }
            a {
                padding: 0 30px;
                text-transform: inherit;
            }
        }
    }
}