/*------------------------------------------------------------
- How It Works
------------------------------------------------------------*/

/*----- Connect With Heighest Quality ------*/

.connect-quality-wrap {
    .sec-title {
        background: $color-darkest;
        padding: 40px 0px 20px;
        text-align: center;
        h3 {
            width: 50%;
            margin: 0 auto;
        }
    }
    .connect-quality-sec {
        .grid-item {
            padding: 40px 0px;
            &:nth-child(odd) {
                background: $color-darkest;
                .row {
                    > div {
                        &:first-child {
                            order: 1;
                        }
                    }
                }
            }
            figure {
                margin-bottom: 0px;
                text-align: center;
            }
            .row {
                justify-content: space-between;
                align-items: center;
                padding: 0 10%;
                h5 {
                    color: $color-black;
                    margin-bottom: 20px;
                    font-weight: $font-weight-regular;
                }
            }
        }
    }
}

/*----- Why Choose Section -----*/

.why-choose-wrap {
    .sec-title {
        margin-bottom: 40px;
    }
    .content-section {
        text-align: center;
        margin-bottom: 70px;
    }
    .grid-item {
        .top-content {
            position: relative;
            padding-left: 85px;
            margin-bottom: 30px;
            figure {
                margin-bottom: 0px;
                position: absolute;
                left: 0;
                top: -13px;
                background: #f9f8f8;
                height: 60px;
                width: 65px;
                border-radius: 5px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                svg {
                    width: 30px;
                    height: 30px;
                    fill: $color-primary;
                }
                &:before {
                    content: "";
                    background: $color-primary;
                    width: 10px;
                    height: 60px;
                    display: inline-block;
                    border-radius: 5px 0 0 5px;
                    position: absolute;
                    left: -8px;
                    top: 0;
                    bottom: 0;
                }
            }
            h5 {
                margin-bottom: 0px;
                display: inline-block;
                vertical-align: middle;
                color: $color-black;
                &:after {
                    content: "";
                    background: $color-primary;
                    width: 45px;
                    height: 1px;
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }
    .row {
        > div {
            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                margin-bottom: 50px;
            }
        }
    }
}