/*------------------------------------------------------------
- Thankyou
------------------------------------------------------------*/

/*----- Thankyou Page -----*/

.thankyou-page-wrap {
    padding: 200px 0px;
    @include bg-cover(cover, center);
    background-attachment: fixed;
    position: relative;
    @include breakpoint(desktop) {
		padding: 120px 0px;
	}
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
    }
    text-align: center;
    .thankyou-page-content {
        position: relative;
        z-index: 99;
        h1 {
            display: inline-block;
            border: 5px solid $color-primary;
            border-radius: 100%;
            height: 100px;
            width: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto 50px;
            @include breakpoint(desktop) {
                margin: 0 auto 30px;
            }
            i {
                color: $color-primary;
            }
        }
        p {
          color: hsla(0, 0%, 0%, .9);
          font-size: em(100);
          letter-spacing: 5px;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
          animation: move linear 2000ms infinite;  
          margin-bottom: 50px;
          @include breakpoint(desktop) {
              margin-bottom: 10px;
          }
        }
      span {
        color: $color-primary;
        font-size: em(40);
      }
    }
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 72%, 43%, 1), 
      -3px -3px 0 hsla(180, 72%, 43%, 1), 
      -2px -2px 0 hsla(180, 72%, 43%, 1), 
      -1px -1px 0 hsla(180, 72%, 43%, 1),
      4px 4px 0 hsla(0, 72%, 43%, 1), 
      3px 3px 0 hsla(0, 72%, 43%, 1), 
      2px 2px 0 hsla(0, 72%, 43%, 1), 
      1px 1px 0 hsla(0, 72%, 43%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}