/*----------------------------------------------------------
- Dashboard Css
----------------------------------------------------------*/

svg.hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
    background-color: #f3f3f5;
}

body, html {
    height: 100%;
}

/*----- Button Css -----*/

.theme-btn,
.grey-btn {
    font-size: 14px;
    font-family: $sans-serif;
    font-weight: $font-weight-bold;
    border-radius: 50px;
    line-height: 2.6;
    text-align: center;
    padding-top: 2px;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    display: inline-block;
    padding: 2px 18px 0;
    text-transform: capitalize;
    @include breakpoint(x-normal) {
        font-size: 12px;
    }
    &:hover,
    &:focus {
        background-position: 0 -100%;
    }
}


.theme-btn {
    color: $color-white;
    background-image: linear-gradient(to bottom, #f5804e 0%, #f4615c 50%, #000000 100%);
    border: 1px solid $color-primary;
    &:hover,
    &:focus {
        color: $color-primary;
    }
}

.grey-btn {
    color: #1b2034;
    background-image: linear-gradient(to bottom, #dcdcdc 10%, #b6b6b6 50%, #f57c50 50%, #f45b5e 100%);
    border: 1px solid #dcdcdc;
    &:hover,
    &:focus {
        color: $color-primary;
        border-color: $color-primary;
    }
}

/*----- Dashboard Section -----*/

.dashborad_main_wrap {
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    background: #f3f3f5;
    margin-top: 107px;
    @include breakpoint(desktop) {
        margin-top: 93px;
    }
    .dashboard_left {
        background: #fafafa;
        width: 290px;
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        .dashboard_logo {
            text-align: center;
            margin: 0 auto;
            border-bottom: 1px solid #bfbfbf;
            a {
                display: inline-block;
                line-height: 6.7;
            }
        }
        @include breakpoint(desktop) {
            width: 260px;
        }
    }
    .dashboard_nav {
        ul {
            li {
                border-bottom: 1px solid #f3f3f3;
                position: relative;
                a {
                    font-size: em(18);
                    color: #afafaf;
                    font-family: $sans-serif;
                    font-weight: $font-weight-regular;
                    position: relative;
                    display: block;
                    padding: 20px 20px 20px 60px;
                    transition: all 0.6s ease-in-out 0s;
                    svg {
                        fill: #afafaf;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 30px;
                        height: 15px;
                        width: 15px;
                        transition: all 0.6s ease-in-out 0s;
                    }
                    &:hover,
                    &.active {
                        color: $color-primary;
                        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            width: 4px;
                            background: $color-primary;
                        }
                        &:after {
                            content: "\f105";
                            font-family: FontAwesome;
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: em(25);
                        }
                        svg {
                            fill: $color-primary;
                        }
                    }
                }
                &:last-child {
                    a {
                        &:active,
                        &:hover {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .dashboard_right {
        margin-left: 290px;
        display: inline-block;
        height: 100%;
        width: calc(100% - 290px);
        @include breakpoint(desktop) {
            margin-left: 260px;
            width: calc(100% - 260px);
        }
        .dashboard_header {
            position: fixed;
            top: 0;
            right: 0;
            width: calc(100% - 290px);
            background-color: #fff;
            padding: 30px 60px;
            z-index: 99;
            @include breakpoint(desktop) {
                padding: 24px 40px;
                width: calc(100% - 260px);
            }
            .dashboard_search {
                display: inline-block;
                vertical-align: middle;
                width: 49%;
                text-align: left;
                form {
                    .form-group {
                        max-width: 257px;
                        position: relative;
                        margin-bottom: 0px;
                        .form-control {
                            height: 45px;
                        }
                        #searchsubmit {
                            position: absolute;
                            right: 0px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-family: FontAwesome;
                            background: none;
                            border: none;
                            font-size: em(22);
                            color: $color-white;
                            transition: all 0.3s ease-in-out 0s;
                            min-width: 50px;
                            height: 45px;
                            padding: 0px;
                            background: $color-primary;
                            border-radius: 6px;
                            &:hover {
                                background: $color-black;
                            }
                        }
                    }
                }
            }
            .dashboard_notify_sec {
                display: inline-block;
                vertical-align: middle;
                width: 50%;
                text-align: right;
                ul {
                    margin-bottom: 0px;
                    li {
                        list-style: none;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 15px;
                        &:nth-child(2) {
                            margin-right: 30px;
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                        &.noti-icon-wrapper,
                        &.message-box { 
                            a {
                                display: inline-block;
                                position: relative;
                                &.notificationModule  {
                                    width: 17px;
                                    height: 17px;
                                    padding: 0;
                                }
                                svg {
                                    height: 20px;
                                    width: 18px;
                                    fill: #ccccd4;
                                    transition: all 0.5s ease-in-out 0s;
                                }
                                &:hover,
                                &:focus {
                                    svg {
                                        fill: $color-black;
                                    }
                                }
                                .noti-count {
                                    position: absolute;
                                    top: -5px;
                                    right: -8px;
                                    height: 16px;
                                    width: 16px;
                                    border-radius: 3px;
                                    background: $color-primary;
                                    color: $color-white;
                                    text-align: center;
                                    sup {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        left: 0;
                                        right: 0;
                                        text-align: center;
                                        margin: 0 auto;
                                        bottom: inherit;
                                        font-size: em(14);
                                        line-height: 1;
                                        color: $color-white;
                                    }
                                }
                            }
                             * {
                                vertical-align: middle !important;
                            }
                            .dropdown-menu {
                                left: auto;
                                right: 0;
                                width: 410px;
                                .mCSB_inside > .mCSB_container {
                                    margin-right: 15px;
                                }
                                .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
                                    background: $color-primary;
                                }
                                .mCSB_scrollTools .mCSB_draggerRail {
                                    background: #1b2034;
                                }
                            }
                        }
                        &.heading {
                            h3 {
                                font-size: em(22);
                                color: $color-black;
                                margin-bottom: 0px;
                                font-weight: $font-weight-regular;
                                @include breakpoint(x-normal) {
                                    font-size: 18px;
                                }
                            }
                        }
                        .notificationWrapper {
                            a {
                                padding: 10px 20px;
                                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
                                p {
                                    margin-bottom: 0px;
                                    line-height: 1.3;
                                }
                                span {
                                    text-transform: capitalize;
                                }
                            }
                            .dropdown-item {
                                white-space: inherit;
                            }
                        }
                        .nav-link.dropdown-toggle::after {
                            color: #ffffff !important;
                        }
                        .dropdown-menu {
                            border-color: #ffffff;
                            border-radius: 0;
                            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
                            margin-top: 0;
                            padding: 0;
                            top: 12px !important;
                        }
                        .dropdown-menu {
                            height: 300px;
                        }
                    }
                }
            }
        }
        .dashboard_inner_wrap {
            padding: 50px 50px 0px;
            min-height: calc(100% - 50px);
            margin-bottom: 52px;
            @include breakpoint(desktop) {
                padding: 40px 40px 0px;
            }
            .dashboard_inner_sec {
                max-width: 1200px;
            }
            .radio-sec {
                padding-top: 5px;
                .title {
                    text-align: left;
                    font-size: 12px;
                    margin-top: 3px;
                    color: #474a5d;
                    font-family: $sans-serif;
                    font-weight: $font-weight-regular;
                    margin-bottom: 0px;
                    text-transform: uppercase;
                }
                .list {
                    margin-bottom: 0px;
                    li {
                        list-style: none;
                        margin-right: 20px;
                    }
                }
                .radio {
                    margin-right: 20px;
                    margin-bottom: 0px;
                    display: inline-block;
                    &:last-child {
                        margin-right: 0px;
                    }
                    label {
                        margin-bottom: 0px;
                    }
                }
                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
                [type="radio"]:checked + label,
                [type="radio"]:not(:checked) + label {
                    position: relative;
                    padding-left: 17px;
                    cursor: pointer;
                    line-height: 1em;
                    display: inline-block;
                    font-family: $sans-serif;
                    vertical-align: bottom;
                    font-size: em(16); 
                    font-weight: $font-weight-regular;
                    color: $color-black;
                    text-transform: inherit;
                }
                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 1px;
                    width: 12px;
                    height: 12px;
                    border: 2px solid $color-primary;
                    border-radius: 100%;
                    background: #fff;
                }
                [type="radio"]:not(:checked) + label:before {
                    border-color: #b2b2b2;
                }
                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background: $color-primary;
                    position: absolute;
                    top: 4px;
                    left: 3px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
            form {
                input.form-control {
                    height: 40px;
                    border-radius: 0px;
                }
                label {
                    font-size: em(16);
                }
                sup {
                    color: red;
                    font-size: em(16);
                    top: 0;
                }
            }
            select {
                height: 40px;
            }
            .button-wrap {
                margin-top: 20px;
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0px;
                        }
                        button {
                            padding: 0px 30px;
                            line-height: 2.5;
                        }
                        &:nth-child(2) {
                            button {
                                background: $color-secondary;
                                border-color: $color-secondary;
                                &:hover {
                                    background: $color-primary;
                                    border-color: $color-primary;
                                }
                            }
                        }
                    }
                }
            }
        }
        .dashboard-info {
            background: $color-white;
            margin-bottom: 30px;
            .title-sec {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #f9f9f9;
                padding: 15px 30px;
                border-bottom: 1px solid #c3c3c3;
                h5 {
                    margin-bottom: 0px;
                }
                a {
                    display: inline-block;
                    color: $color-grey;
                    svg {
                        height: 12px;
                        width: 12px;
                        transition: all 0.3s ease-in-out 0s;
                        fill: $color-grey;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 3px;
                    }
                    &:hover {
                        color: $color-primary;
                        svg {
                            fill: $color-primary;
                        }
                    }
                }
            }
            .content-sec,
            .form-sec {
                padding: 30px;
            }
        }
    }
}


/*----- Profile Page -----*/

.profle-content-wrap {
    display: flex;
    justify-content: space-between;
    .profile-img-sec {
        height: 185px;
        position: relative;
        text-align: center;
        margin-right: 30px;
        .img-sec {
            border: 1px solid $color-grey;
            border-radius: 100%;
            height: 185px;
            width: 185px;
        }
        figure {
            background-size: cover;
            background-position: center;
            height: 183px;
            width: 183px;
            border-radius: 100%;
            margin-bottom: 0px;
            border: 7px solid $color-white;
        }
        .uploadButton {
            background: #f9f9f9;
            height: 33px;
            width: 33px;
            border-radius: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 4px;
            right: 15px;
            color: #afafaf;
            i {
                text-align: center;
                margin: 0 auto;
            }
        }
        input[type=file] {
            opacity: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            cursor: pointer;
        }
    }
    .profile-content-sec {
        width: calc(100% - 200px);
        margin-left: 25px;
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            h5 {
                color: #3c3c3c;
                font-size: 22px;
            }
            a {
                color: #010101;
                font-size: 14px;
                &:before {
                    content: "\f040";
                    font-family: FontAwesome;
                    color: $color-primary;
                    margin-right: 4px;
                }
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}
.location-content-wrap {
    p {
        color: $color-black;
    }
    .row {
        margin-bottom: 20px;
    }
}
.expert-skill-wrap {
    ul {
        li {
            display: inline-block;
            margin: 0px 15px 15px 0px;
            a {
                display: inline-block;
                font-size: em(12);
                color: $color-grey;
                background: #e9e9e9;
                padding: 0px 20px;
                line-height: 2.8em;
                &:hover {
                    background: $color-primary;
                    color: $color-white;
                }
            }
        }
    }
}
.portfolio-wrap {
    padding-right: 15%;
}
.work-experience-wrap,
.education-wrap {
    li {
        margin-bottom: 15px;
        position: relative;
        padding-left: 20px;
        list-style: none;
        &:before {
            content: "\f111";
            font-family: FontAwesome;
            color: $color-primary;
            font-size: 10px;
            position: absolute;
            top: 0;
            left: 0;
        }
        h6,
        cite {
            margin-bottom: 5px;
            color: $color-black;
        }
        h6 {
            font-weight: $font-weight-regular;
        }
        cite {
            font-weight: $font-weight-light;
        }
    }
}
.work-experience-wrap {
    p {
        padding-left: 20px;
        color: $color-black;
        line-height: normal;
        font-weight: $font-weight-light;
    }
}

/*----- Inbox Section -----*/

.inbox-wrap {
    .mCSB_scrollTools .mCSB_draggerRail {
        background: $color-primary;
    }
    .inbox-list {
        width: 430px;
        background: $color-white;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
        display: inline-block;
        vertical-align: top;
        @include breakpoint(desktop) {
            width: 320px;
        }
        ul {
            padding: 20px;
            height: 1000px;
            li {
                figure {
                    &:after {
                        content: "";
                        background: #cfcfcf;
                        height: 7px;
                        width: 7px;
                        display: block;
                        right: 3px;
                        position: absolute;
                        bottom: 2px;
                        border-radius: 100%;
                    }
                    &.show {
                        &:after {
                            background: #17e367;
                        }
                    }
                }
            }
        }
    }
    .chat-box-wrap {
        width: calc(100% - 435px);
        display: inline-block;
        vertical-align: top;
        @include breakpoint(desktop) {
            width: calc(100% - 325px);
        }
        .chat-box-sec {
            height: 800px;
            padding: 20px 30px;
            .chat-list {
                padding-left: 70px;
                width: 100%;
                margin-bottom: 20px;
                float: left;
                position: relative;
                figure {
                    position: absolute;
                    left: 10px;
                    top: 0;
                    height: 50px;
                    width: 50px;
                    margin-bottom: 0px;
                    img {
                        border-radius: 100%;
                    }
                }
                .chat-content {
                    max-width: 660px;
                }
                span {
                    color: #898989;
                    font-size: em(16);
                    display: block;
                }
                &.user-chat {
                    float: right;
                    padding-left: 0px;
                    padding-right: 70px;
                    text-align: right;
                    p {
                        background: #ffffff;
                        border-radius: 18px 0px 18px 18px;
                        &:after {
                            left: inherit;
                            right: 1%;
                            border-bottom-color: #eaf3fb;
                            margin-right: 10px;
                            margin-left: inherit;
                        }
                    }
                    figure {
                        left: inherit;
                        right: 0;
                    }
                    .chat-content {
                        float: right;
                    }
                }
                figure {
                    left: 0;
                }
                h6 {
                    margin-bottom: 15px;
                }
                p {
                    background: #deffff;
                    display: block;
                    padding: 10px 20px;
                    border-radius: 0px 18px 18px 18px;
                    color: $color-black;
                    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.1);
                    &:last-child {
                        margin-bottom: 7px;
                    }
                }
            }
        }
        form {
            padding: 0 8%;
            textarea {
                border-radius: 0px;
            }
            button {
                float: right;
                display: block;
            }
            .form-group {
                margin-bottom: 0px;
                textarea {
                    margin-bottom: 5px;
                }
                a {
                    color: $color-grey;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
    h5 {
        color: #151515;
        text-transform: capitalize;
        margin-bottom: 0;
        border-bottom: 1px solid #ccccd4;
        padding: 18px;
        text-align: center;
    }
    ul {
        li {
            list-style: none;
            position: relative;
            padding-left: 60px;
            margin-bottom: 10px;
            border-radius: 4px;
            transition: all 0.3s ease-in-out 0s;
            &:last-child {
                margin-bottom: 0px;
            }
            figure {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                height: 42px;
                width: 42px;
                margin-bottom: 0px;
                img {
                    border-radius: 100%;
                }
            }
            p {
                margin-bottom: 0px;
                color: #979797;
                line-height: normal;
            }
            h6 {
                color: #151515;
                margin-bottom: 3px;
            }
            a {
                display: block;
                padding: 15px 4px;
            }
            &:hover,
            &.active {
                background: $color-primary;
                h6, p {
                    color: $color-white;
                }
            }
        }
    }
}

/*----- Appointment Section -----*/

.dashborad_main_wrap {
    .dashboard_right {
        .dashboard_inner_wrap {
            .calender-wrap { 
                .button-wrap {
                    ul {
                        li {
                            list-style: none;
                            display: block;
                            margin: 0px 0px 10px 0px;
                            text-align: center;
                            a {
                                line-height: 2.5em;
                                font-size: em(16);
                                color: $color-white;
                                background: $color-primary;
                                display: block;
                                border-radius: 5px;
                                &:hover {
                                    background: $color-secondary;
                                }
                            }
                            &:nth-child(2) {
                                a {
                                    background: $color-secondary;
                                    &:hover {
                                        background: $color-primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.dashboard-app-sec {
    display: flex;
    justify-content: space-between;
    .calender-wrap {
        width: 320px;
        .button-wrap {
            padding: 0 13%;
        }
        .datepicker-container {
            width: 100%;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
            &.datepicker-inline {
                margin: 0 auto;
                .datepicker-panel {
                     ul {
                        width: 100%;
                        position: relative;
                        &:first-child {
                            li {
                                background-color: #b6bdc4;
                                display: inline-block;
                                font-size: em(20);
                                vertical-align: middle;
                                &[data-view="month prev"],
                                &[data-view="month next"],
                                &[data-view="year prev"],
                                &[data-view="year next"]{
                                    width: 10%;
                                    color: #b6bdc4;
                                }
                                &[data-view="month current"],
                                &[data-view="year current"] {
                                    width: 80%;
                                }
                                &[data-view="month prev"],
                                &[data-view="month next"],
                                &[data-view="month current"],
                                &[data-view="year prev"],
                                &[data-view="year next"],
                                &[data-view="year current"]{
                                    height: 55px;
                                    padding: 14px 0px;
                                }
                                &[data-view="month prev"],
                                &[data-view="year prev"] {
                                    &:before {
                                        content: "\f0d9";
                                        left: 15px;
                                        font-family: FontAwesome;
                                        font-size: em(20);
                                        position: absolute;
                                        color: #7f8a98;
                                    }
                                }
                                &[data-view="month next"],
                                &[data-view="year next"] {
                                    &:after {
                                        content: "\f0da";
                                        right: 15px;
                                        font-family: FontAwesome;
                                        font-size: em(20);
                                        position: absolute;
                                        color: #7f8a98;
                                    }
                                }
                            }
                        }
                        &[data-view="week"] {
                             padding: 10px 0px;
                             li {
                                 height: inherit;
                             }
                         }
                         &[data-view="days"],
                         &[data-view="months"] {
                             li {
                                 &.highlighted,
                                 &:hover {
                                     background: $color-primary;
                                     color: $color-white;
                                     border-radius: 100%;
                                 }
                             }
                         }
                         &[data-view="months"] {
                             padding: 15px;
                         }
                         li {
                             width: 14%;
                             height: 38px;
                             display: flex;
                             justify-content: space-around;
                             align-items: center;
                             color: #7f8a98;
                             transition: all 0.3s ease-in-out 0s;
                             &.muted {
                                 color: #b6bdc4;
                             }
                         }
                    }
                }
            }
        }
    }
    .tab-wrap {
        width: calc(100% - 340px);
        padding-left: 35px;
        @include breakpoint(desktop) {
            padding-left: 25px;
        }
        ul {
            border-bottom: none;
            li {
                margin-right: 3px;
                &:last-child {
                    margin-right: 0px;
                }
                a {
                    padding: 5px 15px 8px;
                    background: #b6bdc4;
                    display: block;
                    font-family: $sans-serif;
                    font-weight: $font-weight-regular;
                    color: $color-white;
                    font-size: em(18);
                    text-transform: capitalize;
                    line-height: 2.5;
                    border-bottom: 2px solid transparent;
                    &.active,
                    &:hover {
                        color: $color-primary;
                        background: $color-white;
                        border-bottom-color: $color-primary;
                        box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
        .tab-content {
            padding: 20px;
            background: $color-white;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);       
        }
    }
}

.accordian-wrap {
    width: calc(100% - 340px);
    padding-left: 35px;
    padding-right: 20%;
    @include breakpoint(desktop) {
        padding-left: 25px;
        padding-right: 0px;
    }
}
.card{
    margin-bottom: 10px;
    border: none;
    background: none;
    .card-header {
        padding: 0px;
        border: none;
        background: transparent;
        h6 {
            margin-bottom: 0px;
        }
        .card-link {
            color: $color-white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 45px 15px 20px;
            position: relative;
            color: $color-white;
            background: #b6bdc4;
            border-radius: 5px;
            margin-bottom: 6px;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
            h6,
            cite {
                display: inline-block;
            }
            &:after {
                content: "\f106";
                font-family: FontAwesome;
                color: $color-white;
                font-style: normal;
                font-size: em(20);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
            }
            cite {
                color: $color-black;
                font-size: em(18);
                font-weight: $font-weight-regular;
            }
            &.collapsed {
                box-shadow: none;
                &:after {
                    content: "\f107";
                }
            }
            &:hover {
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
            }
        }
    }
    .panel-body {
        ul {
            margin-bottom: 0px;
            li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #f7f7f7;
                color: $color-black;
                padding: 15px 20px;
                border-radius: 5px;
                margin-bottom: 5px;
                margin-right: 0;
                &:last-child {
                    margin-bottom: 0px;
                }
                span {
                    font-size: em(18);
                    color: $color-black;
                    font-weight: $font-weight-regular;
                }
                .buttons {
                    li {
                        display: inline-block;
                        padding: 0px;
                        a {
                            line-height: 2.3em;
                            border-radius: 5px;
                            padding: 0 15px;
                            border: none;
                            font-size: em(14);
                            background: #03a73d;
                            &:hover {
                                color: $color-white;
                                transform: translateY(-2px);
                            }
                        }
                        &:nth-child(2) {
                            a {
                                background: #eb0000;
                            }
                        }
                    }
                }
            }
        }
    }
} 

/*----- Dashboard Blog Section -----*/

.dashboard-blog-wrap {
    background: $color-white;
    padding: 20px;
    article {
        margin-bottom: 20px;
        h6 {
            color: $color-black;
            font-weight: $font-weight-regular;
        }
        select {
            width: 305px;
        }
        &.top-wrap {
            display: flex;
            justify-content: space-between;
            .title-sec {
                width: calc(100% - 110px);
                padding-right: 10%;
            }
            .view-post {
                a {
                    display: inline-block;
                    min-width: 110px;
                    border-radius: 6px;
                    text-align: center;
                    line-height: 2.5em;
                    background-image: linear-gradient(to bottom, #e6e6e6 10%, #cecece 50%, #1fbdbd 50%, #1fbdbd 100%);
                    background-repeat: no-repeat;
                    background-size: 100% 200%;
                    text-transform: capitalize;
                    &:hover {
                        color: $color-white;
                        border-color: $color-primary;
                        background-position: 0 100%;
                    }
                }
            }
        }
        .user-profile-wrap {
            width: 150px;
            height: 140px;
            border: 1px solid #e1e1e1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            .user-content-wrap {
                border: 1px dashed #e1e1e1;
                height: 122px;
                width: 130px;
                text-align: center;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                input[type=file] {
                    opacity: 0;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    position: absolute;
                    cursor: pointer;
                }
                svg {
                    height: 20px;
                    width: 20px;
                    margin: 0 auto 10px;
                    fill: #b6b6b6;
                }
                svg,
                span {
                    display: block;
                    color: #b6b6b6;
                }
            }
        }
    }
}

.dashborad_main_wrap {
    .dashboard_right {
        .dashboard_inner_wrap {
            .full-width-wrap {
                max-width: 100%;
            }
        }
    }
}

.dashboard-blog-list-wrap {
    .create-blog-wrap {
        background: #3c4e62;
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .blog-left {
            select {
                width: 170px;
                border-radius: 5px;
                padding: 0 12px;
            }
            button {
                height: 40px;
                padding: 0 13px;
            }
        }
        .blog-right {
            .new-blog {
                background: $color-primary;
                line-height: 2.7em;
                border-radius: 5px;
                text-align: center;
                padding: 0 15px;
                display: inline-block;
                font-size: em(16);
                color: $color-white;
                &:hover {
                    color: $color-primary;
                    background: $color-white;
                }
            }
        }
    }
    .table-wrap {
        background: $color-white;
        padding: 15px;
        .table {
            width: 100%;
            margin-bottom: 10px;
        }
        table, th, td {
            border: none;
            margin-bottom: 0px;
        }
        th, td {
            font-weight: $font-weight-regular;
            text-transform: capitalize;
        }
        thead {
            tr {
                th {
                    background: #e8eaec;
                    color: $color-black;
                    vertical-align: middle;
                    border-right: 1px solid #d3d3d3;
                    font-size: em(16);
                    &:last-child {
                        border-right: none;
                    }
                }
                .checknox {
                    width: 50px;
                }
                .title {
                    width: 400px;
                }
                .description {
                    width: 480px;
                }
                .author {
                    width: 180px;
                }
                .date {
                    width: 135px;
                }
                .status {
                    width: 112px;
                }
                .action {
                    width: 90px;
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid #e8eaec;
                td {
                    color: $color-grey;
                    vertical-align: middle;
                    font-size: em(14);
                    a {
                        svg {
                            height: 14px;
                            width: 14px;
                            fill: $color-grey;
                            transition: all 0.3s ease-in-out 0s;
                            &:hover {
                                fill: $color-primary;
                            }
                        }
                    }
                    &.published {
                        color: #019524;
                    }
                    &.draft {
                        color: #ff3600;
                    }
                    &:last-child {
                        text-align: center;
                    }
                }
            }
        }
        .pagination-wrap {
            text-align: right;
            ul {
                margin-bottom: 0px;
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 25px;
                    a {
                        font-size: em(20);
                        color: #d0d0d0;
                        &:hover {
                            color: $color-grey;
                        }
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    .form-check-label {
        label {
            position: relative;
            margin: 0;
            .new-checkbox {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                height: 15px;
                width: 15px;
                border: 1px solid $color-grey;
                border-radius: 3px;
            }
        }
    }
    input[type=checkbox] {
        -webkit-appearance: none;
        display: none;
        position: absolute;
        left: 0;
        top: 7px;
        &:checked + span.new-checkbox {
            background: $color-primary;
            width: 15px;
            height: 15px;
            display: inline-block;
            border-color: $color-primary;
            &:after {
                content: '';
                position: absolute;
                width: 9px;
                height: 5px;
                background: transparent;
                top: 26%;
                left: 2px;
                right: 0;
                text-align: center;
                border: 2px solid $color-white;
                border-top: none;
                border-right: none;
                transform: rotate(-45deg);
            }
        }
    }
    .checkbox {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-around;
        margin-right: 20px;
        margin-bottom: 0px;
        display: inline-block;
        &:last-child {
            margin-right: 0px;
        }
        label {
            margin-bottom: 0px;

        }
        [type="checkbox"]:checked,
        [type="checkbox"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="checkbox"]:checked + label,
        [type="checkbox"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            vertical-align: bottom;
            font-size: 16px;
            font-weight: $font-weight-regular;
            color: $color-black;
        }
        [type="checkbox"]:checked + label:before,
        [type="checkbox"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            width: 14px;
            height: 14px;
            border: 2px solid #D4D4D8;
            border-radius: 100%;
            background: #fff;
        }
        [type="checkbox"]:checked + label:after,
        [type="checkbox"]:not(:checked) + label:after {
            content: '';
            width: 8px;
            height: 8px;
            background: $color-primary;
            position: absolute;
            top: 7px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

/*----- Footer Section -----*/

footer {
    font-size: 14px;
    font-weight: 400;
    background-color: #ececec;
    padding: 12px 10%;
    position: relative;
    .copy_right {
        text-align: center;
        span {
            color: #d9d9d9;
            font-size: 14px;
            display: block;
            text-align: center;
            a {
                color: #318ed5;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
    .copy_right {
        text-align: center;
        ul {
            margin-bottom: 0px;
        }
        li {
            display: inline-block;
            list-style: none;
            margin: 0 10px;
            vertical-align: middle;
            span {
                font-size: em(14);
                color: #6b6b6b;
                display: inline-block;
                a {
                    color: $color-brand;
                    &:hover {
                        color: $color-black;
                    }
                }
            }
            &:first-child {
                &:after {
                    content: "";
                    height: 15px;
                    width: 1px;
                    background: #6b6b6b;
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: -3px;
                    margin-right: -8px;
                    margin-left: 10px;

                }
            }
        }
    }
}