/*------------------------------------------------------------
- Parameters
------------------------------------------------------------*/
// Fonts

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// Colors
$color-primary: #1fbdbd;
$color-secondary: #666666;
$color-light: #e0e0e0;
$color-lightest: #e7e7e7;
$color-darkest: #f6f6f6;
$color-grey: #686868;
$color-brand: #23a8e0;
$color-white: #ffffff;
$color-black: #000000;

// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
$font-size-biggest: 2.8rem;
$font-size-largest: 2.3rem;
$font-size-large: 1.2rem;
$font-size-base: 1rem;
$font-size-small: .9rem;
$font-size-smallest: .75rem;

// Spacing
$spacing-small: .75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem;

// Media queries
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;

// Font Family
$sans-serif: 'Lato', sans-serif;
$serif: 'Playfair Display', serif;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Animation
$anime-in: .4s;
$anime-out: .5s;

// Base Font
$base-font-size: 16;